
body {
	font-family: $text-font;
	font-size: 14px;
	background: lightblue;
	margin: 0;
}

h1,
h1 a {
	color: black;
	font-family: $header-font;
	font-size: 2em;
}

h2 {
	font-family: $meta-font;
}

#container {
	max-width: 640px;
	padding: 1em;
	margin: 0 auto;
	background: white;
	position: relative;
	left: 1em;
}

button {
	font-family: $meta-font;
	cursor: pointer;
}

a {
	font-family: $meta-font;
	text-decoration: none;
	color: blue;
	position: relative;
	top: 0;
	left: 0;
	transition: all 200ms;
	border-radius: 0.5em;

	&:hover {
		// padding: 0.25em 0.5em;
		// background-color: lightblue;
		box-shadow: 0 0.25em 0.25em lightblue;
		top: -2px;
		// left: -0.5em;
	}
	
	&.permalink {
		font-size: 0.75em;
		margin-left: 0.5em;
	}
}