.post {
	margin: 1em 0;
	margin-bottom: 1.5em;

	.user-link {
		color: black;
		font-weight: bold;
	}

	.text {
		font-size: 1.6em;
		margin: 0;
		line-height: 1.4;
	}

	.permalink {
		color: gray;
	}

	.likes, .replies {
		padding: 0.5em 0.25em;
		border-radius: 0.25em;
    	line-height: 1em;
    	display: inline-flex;
    	align-items: baseline;
    	font-size: 0.8em;
		
		.icon {
			font-size: 2em;
		}
		.num {
			font-size: 1.25em;
		}
	}
}