@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
body {
  font-family: "Amiri";
  font-size: 14px;
  background: lightblue;
  margin: 0;
}

h1,
h1 a {
  color: black;
  font-family: "Pirata One";
  font-size: 2em;
}

h2 {
  font-family: "JetBrains Mono";
}

#container {
  max-width: 640px;
  padding: 1em;
  margin: 0 auto;
  background: white;
  position: relative;
  left: 1em;
}

button {
  font-family: "JetBrains Mono";
  cursor: pointer;
}

a {
  font-family: "JetBrains Mono";
  text-decoration: none;
  color: blue;
  position: relative;
  top: 0;
  left: 0;
  transition: all 200ms;
  border-radius: 0.5em;
}
a:hover {
  box-shadow: 0 0.25em 0.25em lightblue;
  top: -2px;
}
a.permalink {
  font-size: 0.75em;
  margin-left: 0.5em;
}

.post {
  margin: 1em 0;
  margin-bottom: 1.5em;
}
.post .user-link {
  color: black;
  font-weight: bold;
}
.post .text {
  font-size: 1.6em;
  margin: 0;
  line-height: 1.4;
}
.post .permalink {
  color: gray;
}
.post .likes, .post .replies {
  padding: 0.5em 0.25em;
  border-radius: 0.25em;
  line-height: 1em;
  display: inline-flex;
  align-items: baseline;
  font-size: 0.8em;
}
.post .likes .icon, .post .replies .icon {
  font-size: 2em;
}
.post .likes .num, .post .replies .num {
  font-size: 1.25em;
}
