<!-- index -->
{% extends "layout.html" %}
{% block header %}
<button id="add-user">Add User</button>
<button id="sim">Simulate</button>
{% endblock %}

{% block scripts %}
<script>
	window.addEventListener('load', () => {
		firebase.database().ref('posts').orderByChild('replyTo').equalTo(null)
			.on('child_added', Cool.createPost);

		firebase.database().ref('posts').orderByChild('replyTo').equalTo(null)
			.on('child_changed', postData => {
				
				document.getElementById(`like-num-${postData.key}`).textContent = postData.val().likes ? Object.keys(postData.val().likes).length : '0';

				document.getElementById(`reply-num-${postData.key}`).textContent = postData.val().replies ? Object.keys(postData.val().replies).length : '0';
			});
	});
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/user.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/sim.js') }}"></script>
{% endblock %}