<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>melon chat</title>
	<link rel='shortcut icon' href="{{ url_for('static',filename='favicon.ico') }}" type='image/x-icon'/ >
	{% assets "scss" %}
		<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
	{% endassets %}
	{% include 'firebase.html' %}
	<script type="text/javascript" src="{{ url_for('static',filename='js/cool.js') }}"></script>
</head>
<body>
	<div id="container">
		<h1><a href="/">Melon Chat</a></h1>
		{% block header %} {% endblock %}
		<div id="posts"></div>
		{% block content %} {% endblock %}
	</div>
	{% block scripts %}
		<!-- scripts go here -->
	{% endblock %}
</body>
</html>